@model TicariOtomasyon.Models.Kasa

@{
    ViewBag.Title = "Index";
}



<div style="color:white" class="col-md-12">
    <center>
        <h2>
            @Html.DisplayFor(model => model.Tarih.Day).
            @Html.DisplayFor(model => model.Tarih.Month).
            @Html.DisplayFor(model => model.Tarih.Year)
        </h2>
    </center>
</div>
<div  class="col-md-12">
    <h3 class="col-md-6" style="left:240px;color:aqua" >
        GELİR
    </h3>
    <h3 class="col-md-6" style=" left: 260px;color:aqua">
        GİDER
    </h3>
</div>
<div  class="col-md-12">
    <table class=" col-md-6 table-condensed table-bordered">

        <tr style="color:red">
            <th>Seri No</th>
            <th>Tutar</th>
        </tr>

        @foreach (var item in ViewBag.fatura)
        {
            <tr style="color:white">
                <td>@item.Seri</td>
                <td>@item.Tutar</td>

            </tr>
        }

    </table>
    <table class=" col-md-6 table-condensed table-bordered">
        <tr style="color:red">
            <th>Notlar</th>
            <th>Tutar</th>

        </tr>

        @foreach (var gider in ViewBag.gider)
        {
            <tr style="color:white">
                <td>@gider.Notlar</td>
                <td>@gider.Tutar</td>

            </tr>
        }

    </table>
    
</div>
<br />
<div style="color:aqua" class="col-md-offset-5
     col-md-12">
    <table class="table-condensed table-bordered" >
        <tr>
            <th>KAZANÇ</th>
            <th>@ViewBag.kasa</th>
        </tr>
    </table>
    <br />
</div>