@model TicariOtomasyon.Models.Fatura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fatura</h2>

<div style="color:white">
    
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Seri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SıraNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SıraNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarihSaat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarihSaat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VergiDairesi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VergiDairesi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeslimAlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimAlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeslimEden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeslimEden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

    </dl>
</div>

