@model IEnumerable<TicariOtomasyon.Models.Urun>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.Partial("_ButtonPartial");
</p>
<table id="myTable" class="table-bordered " style="width:100%">
    <thead>
        <tr style="color:#ffffff !important">
            <th>
                @Html.DisplayNameFor(model => model.UrunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoklamaCinsi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlisFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatisFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detay)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoklamaCinsi)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlisFiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SatisFiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detay)
                </td>

                <td>
                    <button onclick="location.href = '@Url.Action("Edit")'">@Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @style = "color:#ffd800;text-decoration:none" })</button> |

                    <button onclick="location.href = '@Url.Action("Details")'">@Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @style = "text-decoration:none" })</button> |
                    <input type="button" value="Sil" class="delete" id="@item.Id" style="color:red" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/js/DGUrun.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
                },
            });
        });

    </script>
}