@model TicariOtomasyon.Models.Stok

@{
    ViewBag.Title = "Create";
}

<h2>Yeni Stok Oluştur</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Urun.UrunAd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UrunId", (SelectList)ViewBag.UrunList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Miktar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Miktar, new { htmlAttributes = new { @class = "form-control numpad" } })*@
                <input type="number" name="Miktar" id="numpad" style="cursor:pointer" autocomplete="off"/>
                @Html.ValidationMessageFor(model => model.Miktar, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<script type="text/javascript">
    $('body').on("click", ".dropdown-menu", function (e) {

        $(this).parent().is(".open") && e.stopPropagation();

    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
